@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgb(219, 219, 219);
}

header {
  background-color: white;
  border-bottom: 1px solid rgb(19, 19, 19);
  color: grey;
  padding: 20px 0;

}

.content {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}

.content h1.dark {
  color: #FFF;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 2em 10%;
}

.item {
  width: 30em;
  background-color: white;
  box-sizing: border-box;
  padding: 1.5em;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.item img {
  width: 100%;
}

.item h2 {
  font-size: 1em;
  margin-bottom: .2em;
}

body.dark {
  background-color: rgb(39, 39, 39);
  
}

header.dark { 
  background-color: rgb(19, 19, 19);
  color: rgb(170, 170, 170);
  border-color: rgb(170, 170, 170);
}

.item.dark {
  background-color: rgb(19, 19, 19);
  border-color: black;
  color: rgb(230, 230, 230);

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(19, 19, 19);
  transition: .8s;
  overflow: hidden;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
    background-color:  rgb(196, 184, 25);
  transition: .8s;
}

input:checked + .slider::before {
  background-color:  rgb(196, 184, 25);
  transform: translateX(26px);

}

.slider::after {
  position: absolute;
  content: '';
  height: 20px;
  width: 0px;
  left: -5px;
  bottom: 4px;
  border-radius: 50%;
  background-color:  rgb(39, 39, 39);
  transition: all .8s;


}

input:checked + .slider::after {
  height: 26px;
  width: 30px;
  transform: translateX(20px);
}

input:checked + .slider {
  background-color:  rgb(39, 39, 39);
  box-shadow: 0 0 1px rgb(39, 39, 39);

}




.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}